In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
G12 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2012.csv')
G13 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2013.csv')
G14 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2014.csv')
G15 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2015.csv')
G16 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2016.csv')
G17 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2017.csv')
G18 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2018.csv')
G19 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2019.csv')
G21 = pd.read_csv('C:/Users/amand/OneDrive/Documents/Power BI Practice/Ground Water Project Notebook/Ground Water 2021.csv')

In [3]:
df=pd.concat([G12,G13,G14,G15,G16,G17,G18,G19,G21], ignore_index=True)

In [4]:
df.dropna(axis=0,inplace=True)

In [5]:
result=df.isnull().sum()
result

Station Code                   0
Station Name                   0
STATE                          0
Temperature Min                0
Temperature Max                0
pH Min                         0
pH Max                         0
Conductivity (µmhos/cm) Min    0
Conductivity (µmhos/cm) Max    0
Year                           0
dtype: int64

In [6]:
df['STATE']=df['STATE'].str.upper()

In [7]:
df.sort_values(by='Year', inplace=True, ascending=False, ignore_index=True)

In [8]:
df.rename(columns={'Station Code':'Station_Code'}, inplace=True)

In [9]:
df.Station_Code=df.Station_Code.astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5703 entries, 0 to 5702
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Station_Code                 5703 non-null   int32
 1   Station Name                 5703 non-null   object
 2   STATE                        5703 non-null   object
 3   Temperature Min              5703 non-null   float64
 4   Temperature Max              5703 non-null   float64
 5   pH Min                       5703 non-null   float64
 6   pH Max                       5703 non-null   float64
 7   Conductivity (µmhos/cm) Min  5703 non-null   float64
 8   Conductivity (µmhos/cm) Max  5703 non-null   float64
 9   Year                         5703 non-null   int64
dtypes: float64(6), int32(1), int64(1), object(2)
memory usage: 423.4+ KB

In [11]:
df.reset_index(inplace=True, drop=True)
df.head(10)

,Station_Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year
0,2535,VISVA BHARATI,WEST BENGAL,30.0,31.0,7.9,8.2,370.0,437.0,2021
1,2327,WELL AT KARUKAMANI,KERALA,27.0,28.0,7.1,7.6,670.0,875.0,2021
2,3475,"WELL AT KARIMBAM, KANNUR",KERALA,27.0,28.0,5.2,5.5,64.0,71.0,2021
3,1591,WELL AT KANNUR\n(MUNICIPALITY) KANNUR\nDISTTM ...,KERALA,28.0,28.0,4.9,5.6,90.0,116.0,2021
4,1587,"WELL AT KALAMASSERY\nERNAKULAM DISTT. , KERALA",KERALA,29.0,30.0,5.7,5.8,246.0,403.0,2021
5,2315,WELL AT K.M.M.L. (KOLLAM),KERALA,21.0,25.0,6.4,7.8,210.0,211.0,2021
6,2324,WELL AT HAZARDOUS WASTE\nDUMP (AMBALAMUGHAL),KERALA,29.0,31.0,5.1,5.4,113.0,128.0,2021
7,2308,WELL AT FATHIMAPURAM\n(CHANGANASSERY),KERALA,28.0,30.0,6.3,6.4,147.0,218.0,2021
8,1586,"WELL AT EDAYAR ERNAKULAM\nDISTT., KERALA",KERALA,27.0,28.0,5.9,6.4,231.0,420.0,2021
9,22,"WELL AT CHUNGAPALLY, KERALA",KERALA,29.0,30.0,5.5,6.4,112.0,132.0,2021